{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>{{"Welcome, " + user.first_name + "!"}}</h1>
<!-- ADD: display daily average for macros -->
<!-- ADD: display macro total for the day -->
<h3 align="center">Your Meals</h3>
<!-- CHANGE: display a list containing meal# and macros of each meal (refresh daily) -->
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
        {{ note.data }}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <div class="form-group">
        <textarea name="note" id="note" class="form-control" placeholder="List the contents of your meal here"></textarea>
    </div>
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Calories">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Protein (grams)">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Carbs (grams)">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Fat (grams)">
        </div>
    </div>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Meal</button>
    </div>
</form>
{% endblock %}
