{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>{{"Welcome, " + user.first_name + "!"}}</h1>
<br />
<div class="row">
    <div class="col-sm-6">
        <div align="center" class="card" style="background-color: #272c31">
            <div class="card-header">
                <h5>Your Totals Today</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="background-color: #272c31">{{ user.total_macros[0] }} calories</li>
                <li class="list-group-item" style="background-color: #272c31">{{ user.total_macros[1] }}g protein</li>
                <li class="list-group-item" style="background-color: #272c31">{{ user.total_macros[2] }}g carbs</li>
                <li class="list-group-item" style="background-color: #272c31">{{ user.total_macros[3] }}g fat</li>
            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-primary" onClick="resetTotals({{ user.id }})" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<strong>WARNING</strong> - this deletes all your meals from today">
                    Reset Totals
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div align="center" class="card" style="background-color: #272c31">
            <div class="card-header">
                <h5>Your Daily Averages</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="background-color: #272c31">{{ user.average_macros[0] }} calories</li>
                <li class="list-group-item" style="background-color: #272c31">{{ user.average_macros[1] }}g protein</li>
                <li class="list-group-item" style="background-color: #272c31">{{ user.average_macros[2] }}g carbs</li>
                <li class="list-group-item" style="background-color: #272c31">{{ user.average_macros[3] }}g fat</li>
            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-primary" onClick="resetAverages({{ user.id }})" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<strong>WARNING</strong> - this deletes all your meals before today">
                    Reset Averages
                </button>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<h3 align="center">Your Meals Today</h3>
<ul class="list-group list-group-flush" id="meals">
    <script>
        var timeDisplay;
        var utcTime;
        var utcDate;
        var localTime;
    </script>
    {% for meal in user.meals %}
        {% if meal.local_time.year == cur_time.year and meal.local_time.month == cur_time.month and meal.local_time.day == cur_time.day %}
        <li class="list-group-item" style="background-color: #272c31">
            <h6 id="Time {{ meal.id }}"></h6>
            <script>
                timeDisplay = document.getElementById("Time {{ meal.id }}");
                utcTime = "{{ meal.date.isoformat() }}";
                utcDate = luxon.DateTime.fromISO(utcTime, { zone: 'utc' });
                localTime = utcDate.toLocal().toLocaleString(luxon.DateTime.TIME_SIMPLE);
                timeDisplay.innerHTML += localTime;
            </script>
            {{ meal.desc }}<br>{{ "Calories: " + (meal.cals)|string + " / Protein: " + (meal.protein)|string + "g / Carbs: " + (meal.carbs)|string + "g / Fat: " + (meal.fat)|string + "g" }}
            <button type="button" class="close text-white" onClick="deleteMeal({{ meal.id }})">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
        {% endif %}
    {% endfor %}
</ul>
<br />
<form method="POST">
    <div class="form-group">
        <textarea name="desc" id="desc" class="form-control" placeholder="Enter a description of your meal here"></textarea>
    </div>
    <div class="form-row">
        <div class="col">
            <input name="cals" id="cals" type="text" class="form-control" placeholder="Calories">
        </div>
        <div class="col">
            <input name="protein" id="protein" type="text" class="form-control" placeholder="Protein (grams)">
        </div>
        <div class="col">
            <input name="carbs" id="carbs" type="text" class="form-control" placeholder="Carbs (grams)">
        </div>
        <div class="col">
            <input name="fat" id="fat" type="text" class="form-control" placeholder="Fat (grams)">
        </div>
    </div>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Meal</button>
    </div>
</form>
{% endblock %}
